:root{
    --accent-color: #1D2C3C;
    --white-text: #fff;
    --blue-bcolor: #1179BF;
    --green-color: #038E7D;
    --dark-blue: #548BC5;
    --form-color: #EDEFF2;
    --placeholder: #646E7A;
    --main-bg: #F5F8FA;

}  
 

/* CSS RESETS  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}


li{
    list-style: none;
}

label{
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
}

::placeholder{
    color:var(--placeholder);
    font-size: 14px;
    font-weight: 400;
}


hr{
    color: var(--white-text);
    opacity: 0.2005;
}

/* END OF CSS RESETS */





/* START OF NAV STYLES */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E6EA;;
    padding: 30px 40px;
    margin-inline: 2rem;
}

.navLinks{
    display: flex;
    gap: 42px;
}
.navLinks li a{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}
.navLinks li{
    padding: 10px;
}

.navLinks li:last-child{
    border: 2px solid #646E7A;
    border-radius: 4px;
    
}

/* END OF NAV STYLES */


.box{
    display: flex;
    margin: 0 auto;
    margin-top: 85px ;
    margin-bottom: 33px;
    width: fit-content;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
}


.left{
    max-width: 580px;
    padding-inline: 48px;
    height: 795px;
    background-color: var(--white-text);
}


.left h2{
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 400;
    padding-top: 41px;
    margin-bottom: 62px;
}

.circle-value{
    border-radius: 50% ;
    width: 40px;
    height: 40px;
    border: 3px solid var(--dark-blue);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
    aspect-ratio: 1/1;
}

.form-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 27px;

}

.form-title p:last-of-type{
    color: #1D2C3C;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.16px;
}

.name-side{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grey{
    background-color: var(--form-color);
    padding: 10px;
    height: 36px;
    border: none;
    margin: 0;
    border-radius: 2px;
}



.emailSize{
    max-width: 370px;
}


.atm{
    display: flex;
    align-items: center;
}

.debit-card{
    display: flex;
    width: 100%;
}

.num{
    width: 100%;
}

.mm, .cv{
    max-width: 80px;
}

.mm::placeholder, .cv::placeholder{
    text-align: right;
}

.payment-form{
    padding-top: 78px;
}


button{
    background-color: var(--green-color);
    color: var(--white-text);
    border: none;
    width: 100%;
    margin-top: 82px;
    padding-block: 13px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;

}
.contact_logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    padding-top: 24px;
}


.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}

.question{
    font-size: 12px;
    width: 25px;
    height: 25px;
}

.contact p:last-of-type{
    font-weight: 400;
    font-size: 14px;
}
.contact p:last-of-type span{
    font-weight: 600;
}



/* START OF RIGHT SECTION STYLES */
.right{
    background-color: var(--blue-bcolor);
    max-width: 312px;
    height: 795px;
    padding: 42px 46px;
    color: var(--white-text);
}

.right h3{
    font-size: 20px;
    font-weight: 700;
}

.tier{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

.pricing{
    display: flex;
    align-items:center;
    gap: 12px;
    
}
.dollars{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.price-flex{
    display: flex;
    align-items: first baseline;
}

.price{
    font-size: 60px;
    font-weight: 300;
}
.duration{
    font-size: 18px;
    font-weight: 600;
}


.list-features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 40px;
}

.list-features li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.agency{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 41px;
}

.agency p:last-of-type{
    font-weight: 600;
}

.ftp{
    padding-top:43px ;
    font-style: italic;
    padding-bottom: 43px;
}
.ftp span{
    font-weight: 700;
}

.profile-card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.img-card{
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
}
.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale();
}

.profile-card p{
    font-size: 16px;
    font-weight: 500;
}


.copyright{
    font-size: 14px;
    color: var(--placeholder);
    text-align: center;
    margin-bottom: 60px;
}

.copyright span{
    color: var(--dark-blue);
}


/* END OF RIGHT SECTION STYLES */
